$orange : #F5683B !default;

body {
    background: #EAEAE9;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .2s ease-in;

    &.example-enter-active {
        opacity: 1;
    }
}

a {
    color: $orange;
}

.example-leave {
    opacity: 1;
    transition: opacity .2s ease-out;

    &.example-leave-active {
        opacity: 0 !important;
    }
}

.header {
    margin-top: 20px;
}

.logo {
    background: url('../../img/logo.png') no-repeat;
    height: 60px;
    background-size: contain;
    background-position: left;
}

ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
    margin-top: 15px;

    li {
        display: inline-block;


        a {
            color: $orange;
            text-decoration: none;
            padding: 10px;
            margin: 5px;
        }
    }
}

h1 {
    color: $orange;
    font-size: 5rem;
}

.about {
    text-align: center;
    padding-top: 80px;
    .jumbo-title {
        margin: 0;
    }
    .jumbo-desc {
        color: #888;
    }
}

.social {
    a {
        color: #999;
        font-size: 4rem;
        margin: 0 20px;
    }
}

.content {
    margin-top: 30px;

    .post {

        img {
            width: 100%;
        }
    }
}

.portfolios {
    .item {
        height: 200px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        background: #fff;
        cursor: pointer;

        .image {
            width: 100%;
            height: 200px;
        }
        .panel {
            opacity: 0;
            position: absolute;
            top: 0;
            padding: 50px 15px;
            background: rgba(0,0,0,.7);
            color: #fff;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            transition: all .2s linear;

            .title {
                text-align: center;
            }
            .description {
                font-size: 1rem;
            }
        }
        .panel:hover {
            opacity: 1;
        }
        .loadmore {
            position: absolute;
            top: 0;
            padding: 80px 15px;
            color: #999;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }
    }
}

.box {
    background: #fff;
    padding: 30px;
    margin: 10px 20%;
}

.loading {
    text-align: center;
}

@media (max-width: 670px) {
    ul.menu {
        text-align: center;
        font-size: 1.2rem;
    }
    .logo {
        background-position: center;
    }
    .about {
        padding-top: 30px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .box {
        margin: 10px 0;
        padding: 20px;
    }
}